@font-face{
    font-family: electrolize;
    src: url("/electrolize.woff2"), format("woff2");
}

body{
    font-family: electrolize !important;
}

.app-menu{
    width: 400px;
    margin: auto;
}

::selection{
    background-color: black;
    color: white;
}